@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&displayswap%27');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* Backgrouund */
.topsection {
    background-image: url('MacbethImage.jpg');
    height: 100vh;
    background-size:contain;
    background-position:bottom;
}

/* No Scroll Bar */
::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #FF0000;
}

/* Navagation Bar */
nav {
    height: 140px;
    width: 100%;
    background: white;
    position: fixed;
}

.Logo {
    width: 150px;
    height: auto;
    padding-top: 30px;
    padding-bottom: 12px;
    padding-left: 40px;
}

.topsection ul {
    float: right;
    padding-right: 90px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.topsection ul li {
    list-style: none;
    display: inline-block;
    padding-right: 50px;
    line-height: 85px;
}

.topsection ul li a {
    text-decoration: none;
    color: #b08a7b;
    font-size: 17px;
}
/* Header */
.Headbackground {
    text-align: center;
    background: rgba(0, 0, 0,.2);
    padding-top: 430px;
    padding-bottom: 348px;
}

.Head {
    font-size: 68px;
    color: #dfd3cf;
    letter-spacing: 1.2px;
}

.Sub a {
    color: #dfd3cf;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 5px;
    border: transparent;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
}
/* Analysis */
.analysis{
    font-size: 50px;
    color: #000000;
    letter-spacing: 1.2px; 
    padding: 10px;
    text-align: center;
}
.anchor ul {
    float: center;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}

.anchor ul li {
    list-style: none;
    display: inline-block;
    padding-right: 50px;
    line-height: 85px;
}

.anchor ul li a {
    text-decoration: none;
    color: #b08a7b;
    font-size: 17px;
}
.title {
    padding-bottom: 15px;
}
.text, .title { 
    margin-left: 300px;
    margin-right: 300px;
}

.text {
    padding-bottom: 30px;
}

.list {
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 5px;
}

.first {
    padding-left: 50px;
}

.second {
    padding-left: 65px;
}

.last {
    padding-bottom: 30px;
}

.third {
    padding-left: 80px;
}

.blank {
    margin-bottom: 200px;
}

/* Navagation hover effect */
.home::after {
	content: '';
	display: block;
	background-color: #b08a7b;
	height: 0px;
	width: 0px;
	transform: scaleX(1.0);
	transition: ease-out .35s;
	margin-top: -30px;	
}

.home:hover::after {
	content: '';
	display: block;
	background-color: #b08a7b;
	height: 3px;
	width: 50px;
	margin-top: -30px;
}

.iblibrary::after {
	content: '';
	display: block;
	background-color: #b08a7b;
	height: 0px;
	width: 0px;
	transform: scaleX(1.0);
	transition: ease-out .35s;
	margin-top: -30px;	
}

.iblibrary:hover::after {
	content: '';
	display: block;
	background-color: #b08a7b;
	height: 3px;
	width: 75px;
	margin-top: -30px;	
}

.forum::after {
	content: '';
	display: block;
	background-color: #b08a7b;
	height: 0px;
	width: 0px;
	transform: scaleX(1.0);
	transition: ease-out .35s;
	margin-top: -30px;	
}

.forum:hover::after {
	content: '';
	display: block;
	background-color: #b08a7b;
	height: 3px;
	width: 54px;
	margin-top: -30px;
}